@import url("./main.css");
header{
    margin-bottom: 3.5em;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.logo {   
    width: 100%;
    font-weight: 700;
    padding: 0 40px;
    line-height: 70px;
}
.nav .logo a{
    font-size: 18px;
    text-decoration: none;
    color: var(--color-primary);
}
.nav-menu {
    display: flex;
    justify-content: center;
    list-style: none;   
}
.nav, ul, li a{
    color: var(--color-text);
    text-decoration: none;
    padding: 0 18px;
    transition: all .3s ease-in-out;
}
.nav-menu-item {
    cursor: pointer;
    font-size: 15px;
}
.nav-menu-item:hover {
   
    border-radius: 6px;
    text-decoration: underline;
}