@media(max-width:600px){
    .logo{
        width: 100%;
        text-align: center;     
    }
    .nav{
        margin: 0 auto;
        display: block;
        margin-top: 0;
    }
    .nav .logo a{
        font-size: 22px;
    }
    .intro{
        margin: 0em 0.5em;
        padding: 0;
    }
    .intro .parrafo2{
        font-size: 1.25em; 
    }
    .intro p{
        font-size: 1.3em;
    }
   
}
