@media(max-width:600px){
    .logo{
        width: 100%;
        text-align: center;     
    }
    .nav{
        margin: 0 auto;
        display: block;
        margin-top: 0;
    }
    .nav .logo a{
        font-size: 22px;
    }
    .intro{
        margin: .5em 0em;
        padding: 0;
    }
    .intro h1{
        font-size: 2em; 
    }
    .intro p{
        font-size: 1.2em;
    }
}
